* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #5793a0a3;
}

body {
    font-family: "Poppins", sans-serif;
}

#workbenchPageContent {
    max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}

#spCommandBar,
#CommentsWrapper,
[data-automationid="SiteHeader"],
#sp-appBar,
[data-automationid="SimpleFooter"] {
    display: none !important;
}

.sp-pageLayout-horizontalNav {
    margin: 0 !important;
}

[data-automation-id="contentScrollRegion"] {
    overflow-y: hidden !important;
}

.p-datepicker .p-datepicker-header button {
    width: unset !important;
    margin-right: 2px;
}